.main {
    text-align: center;
    background-color: transparent;


    .cardmain {
        background-color: transparent;
        max-width: 30%;
        margin-left: 35%;
        margin-top: 20px;


        padding: 30px;

        .maintemp {
            margin-top: -15px;
            font-weight: 600;
            font-size: 40px;
        }
    }
}