.app {
    margin-top: -32px;
    font-size: x-large;
    letter-spacing: 2px;
    font-family: Calibri;
    color: black;
    height: 100vh;
    background-image: url('https://www.10wallpaper.com/wallpaper/1920x1080/1901/Forest_Winter_Snow_Mountains_Pine_Tree_1920x1080.jpg');
    justify-content: center;
    align-items: center;
   

    .h1 {
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: center;
        font-weight: 600;

    }
}